<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="Environment" value="Development" />
    </appSettings>

    <connectionStrings>
        <add name="DefaultConnection" connectionString="Server=database-2.cvmvcpcj3mod.us-east-1.rds.amazonaws.com,1433;Database=character_db;User Id=admin;Password=Routeroute123;TrustServerCertificate=true;" />
    </connectionStrings>

    <system.web></system.web>
</configuration>
